<div [@flyInOut]>

  We run a minecraft server: codepleb.net
  If you want to join, you need to request access by providing your username. Write me on telegram: @codepleb

  <div class="ui center aligned basic segment">
    <object data="assets/mc_maps/overworld/index.html" width="80%" height="800" type="text/html">
      "The End" should appear here...
    </object>
  </div>

  <div class="ui divider"></div>

  <div class="ui center aligned basic segment">
    <object data="assets/mc_maps/end/index.html" width="80%" height="800" type="text/html">
      "Overworld" should appear here...
    </object>
  </div>
</div>
