<div [@flyInOut]>

  <div class="ui piled segment">
    <p>We run a minecraft server at: <strong>codepleb.net</strong></p>
    <p>If you want to join, you need to request access by providing your username.</p>
    <p>Write me on telegram: <strong>@codepleb</strong></p>
  </div>

  <!--<div class="ui center aligned basic segment">-->
    <!--<object data="assets/mc_maps/overworld/index.html" width="80%" height="800" type="text/html">-->
      <!--"The End" should appear here...-->
    <!--</object>-->
  <!--</div>-->

  <!--<div class="ui divider"></div>-->

  <!--<div class="ui center aligned basic segment">-->
    <!--<object data="assets/mc_maps/end/index.html" width="80%" height="800" type="text/html">-->
      <!--"Overworld" should appear here...-->
    <!--</object>-->
  <!--</div>-->
</div>
