<div [@flyInOut]>

  <div class="ui piled segment">
    <p>Here is a list of some older projects that aren't on github.</p>
  </div>

  <div class="ui large celled animated list">

    <div class="item">
      <a href="https://sourceforge.net/projects/duplexmerger/">
        <div class="content">
          <div class="header">Nubage - DuplexMerger</div>
          Merge your Scans :)
        </div>
      </a>
    </div>

    <div class="item">
      <a href="https://sourceforge.net/projects/nubageexpensescalculator/">
        <div class="content">
          <div class="header">Nubage - Expenses Calculator</div>
          Calculate your life :)
        </div>
      </a>
    </div>
  </div>

</div>
