<div [@flyInOut]>

  <div class="ui piled segment">
    <p>If you're here for a donation, feel free to choose from one of the below options. :)</p>
  </div>

  <div class="ui header">
    <img class="ui image" src="assets/images/donations/paypal_logo.png">
    <div class="content">
      <h2>
        PayPal
      </h2>
    </div>
  </div>
  <div class="ui center aligned basic segment">
    <a href="https://www.paypal.me/codepleb" target="_blank">
      <img src="assets/images/donations/paypal_wallet.png" alt="PayPal donate link: https://www.paypal.me/codepleb">
    </a>
  </div>


  <div *ngFor="let entry of donationSources">
    <div class="ui divider"></div>
    <app-donation-entry [donationInfo]="entry"></app-donation-entry>
  </div>

</div>
