html,
body {
  height: 100%;
  margin: 0;
}

.main,
.footer {
  /*color: white;*/
  padding: 1em;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 98vh;
}

.main {
  flex: 1;
}

.footer {
}
