.gradient {
  border-radius: 999em;
  width: 100%;
  height: auto;
  padding: 15px;
  line-height: 0;
}

img {
  border-radius: 999em;
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #0084e9 0%, #fff 50%, #0084e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=1); /* IE6-9 */
}
