<div [@flyInOut]>
  <div class="ui piled segment">
    <div class="ui large header">Hi! :)</div>
    <p>I'm a software engineer working for a swiss IT consultant company.</p>
    <p>I like to code, relax, walk, run, lift and spend time with my wife and friends.</p>
    <p>Coming from the countryside, most of my friends aren't related to IT, so I'm always open to get to know new
      people.</p>
    <p>I did several coding projects already. I link most people to this site, so do not feel awkward if this site seems
      a bit messy to you.</p>
    <p>My interest in the coding world is basically things user can interact with, on the back- and also frontend side.
      I love to see people react to/interact with the stuff I do.</p>
    <p>Feel free to connect if you like. :) I love getting to know new friendly people.</p>
  </div>
</div>
