<div [@flyInOut]>

  <img class="ui centered medium image gradient" src="assets/images/overview/codepleb.png">

  <div class="ui large centered header">Hi! :)</div>

  <div class="ui centered grid">
    <div class="ten wide column">
      <p>I'm a software engineer working for a swiss IT consultant company.</p>
      <p>I like to code, relax, walk, run, lift and spend time with my wife and friends.</p>

      <p>I did several coding projects already. I link to here from a lot of places and I'm aware, that this is a real
        mess here. My own personal playground.</p>
      <p>My interest in the coding world basically relies on things users can interact with, on the back- and also
        frontend side.
        I love to see the reactions and the feedback. If you have some, I'm always open to any kind of it.</p>
      <p>Coming from the countryside, most of my friends aren't related to IT, so I'm always open to get to know new
        people.</p>
      <p>Feel free to connect if you like. :)</p>
    </div>
  </div>

</div>
